main {background-color: orange;}
/* 배경 공통&개별값 + 공통제목 + 공통 후원 버튼 */
main .bg {
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover; /* 영역의 크기가 늘어나도 배경 이미지가 비율에 맞게 여백 없이 씌워주는 값 */
}
/* 공통 bg 1250 적용 */
main .bg > section {
    width: 1250px; margin: 0 auto;
    /* background-color: brown; */
}
main .bg section .sub_title {
    font-size: 3.438rem; letter-spacing: -0.1px;
    font-weight: 500; color: #FFF; line-height: 1.2;
}
main .bg section .sponsor_link::after {
    /* 존재하지 않는 요소. CSS로 디자인에 활욜할 때 사용함 */
    content:'';
    background-image:url(../images/btn_right_arrow.svg);
    background-repeat:no-repeat;
    display: inline-block;
    width:32px; height:32px;
}
main .bg section .sponsor_link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; line-height: 71px; */
    width: 404px; height: 71px;
    margin: 0 auto;
    font-size: 2.125rem; font-weight: 700; color: #FFF;
    /* 0% FE9300, 100% FF7300 */
    /* CSS 회전각도 단위 deg */
    background: linear-gradient(90deg, #FE9300,#FF7300);
    /* gradient 적용을 위해 backgroun 통합 속성을 사용했을 때
    해당 요소 추가 배경이미지 꾸미기를 원한다면 가상 선택자(before, after)를 활용하는 것을 권장 */
    border-radius: 50px;
}
main .bg1 {
    background-image:url(../images/bg.jpg);
    height: 1002px;
}
/* ----------------------------------- 1. 표지 ----------------------------------- */
main .bg1 section {}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    text-align: center;
    font-size: 4.375rem; color: #FFF;
    letter-spacing: -0.2px; line-height: 1.2; /* 행간 120% */
    margin: 150px 0 57px;
}
main .bg1 section h2 em {font-weight: 700;}
main .bg1 section .sponsor_question::before,
main .bg1 section .sponsor_question::after {
    content: '';
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 26px;
    width: 26px; height: 26px;
}
main .bg1 section .sponsor_question::before {
    background-image:url(../images/icon_sms.svg);
    margin-right: 5px;
}
main .bg1 section .sponsor_question::after {
    background-image:url(../images/btn_right_arrow.svg);
}
main .bg1 section .sponsor_question {
    background-color: #050505; color: #FFF;
    display: flex;
    justify-content:center;
    align-items:center;
    float: right;
    /* line-height:51px; text-align: center; */
    height:51px; width:407px;
    border-radius: 50px;
    font-size: 1.625rem; margin-top: 155px;
}
/* ----------------------------------- 2. 퀴즈 ----------------------------------- */
main .bg2 {
    background-image:url(../images/bg_2.jpg);
    /* height: 540px; */ /* 높이는 알아서 커지게끔 두는 게 좋음 */
}
/* ----------------------------------- 2. 퀴즈 ----- 퀴즈 -------------- */
main .bg2 section {
    display: flex; /* flex의 item 기본 메인축 정렬은 수평 */
}
main .bg2 section > * {flex: 1; /* width: 50%; */}
main .bg2 section #quiz_frm {
    padding: 42px 0 56px;
}
main .bg2 section #quiz_frm .quiz_contents {color: #FFF;}
main .bg2 section #quiz_frm .quiz_contents .sub_title {
    margin: 0 0 26px;
    width: 450px; text-align: center;
}
main .bg2 section #quiz_frm .quiz_contents h2+p {
    font-size: 1.25rem; line-height: 1.7;margin: 0 0 17px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list {margin: 0 0 28px;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li {margin: 0 0 20px;font-size: 1.25rem;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li:last-child {margin: 0;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q] {display: none;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li label {
    background-image:url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat;
    padding-left: 48px; /* 너비 28px+ 여백 20px */
    line-height: 28px; /* 정렬할 수 있어서 height 보다 예쁘게 적용됨 */
    display: inline-block;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p {}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p #answer_btn {
    background-color: #050505; color: #FFF; border: 0;
    border-radius: 50px; width: 450px; line-height: 39px;
}
/* ----------------------------------- 2. 퀴즈 ----- 퀴즈(인풋 체크 시 활성화 label 디자인) -------------- */
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q]:checked + label {
    background-image:url(../images/quiz_checked.svg) ;
}
/* ----------------------------------- 2. 퀴즈 ----- 참여현황 -------------- */
main .bg2 .quiz_participation {
    padding: 134px 0 0; 
    display: flex; flex-flow: column wrap; 
    /* flex의 기본 값은 수평이므로 수직으로 바꿔주는 flex-flow:column */
    align-items: flex-end;
}
main .bg2 .quiz_participation .status {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
main .bg2 .quiz_participation .status h2::before {
    background-image:url(../images/icon_person.svg);
    content: '';
    display: inline-block;
    width: 42px; height:42px;
}
main .bg2 .quiz_participation .status h2 {
    background-color: #FE9300; color: #FFF;
    font-size: 1.625rem; line-height: 60px;
    display: flex;
    justify-content: center; align-items: center; 
}
main .bg2 .quiz_participation .status .contents {
    background-color: #FFF; text-align: center;
    padding: 40px 0;
}
main .bg2 .quiz_participation .status .contents em {
    font-size: 4.375rem; font-weight: 700; letter-spacing: -0.2px;
    color: #FF7300;
}
main .bg2 .quiz_participation .status .contents span {color: #FF7300;}
main .bg2 .quiz_participation .status .contents strong {}
main .bg2 .quiz_participation .status .contents span,
main .bg2 .quiz_participation .status .contents strong {
    font-size: 2.125rem; font-weight: 700;
}
main .bg2 .quiz_participation p {
    font-size: 1.25rem; color: #FFF;
    margin-top: 20px;
}
/* ----------------------------------- 3. 새끼 북극곰의 이야기 ----------------------------------- */
main .bg3 {background-image:url(../images/bg_3.jpg);}
main .bg3 section {padding: 123px 0 135px; text-align: center;}
main .bg3 section .sub_title {color: #000;}
main .bg3 section #video {width: 900px; height: 600px; margin: 70px 0;}
main .bg3 section a {}
/* ----------------------------------- 4. 빙하 면적 50% 감소 ----------------------------------- */
main .bg4 {background-image:url(../images/bg_4.jpg);}
main .bg4 section {}
main .bg4 section .sub_title {}
main .bg4 section .sub_title em {}
main .bg4 section .sub_title+p {}
main .bg4 section p:last-child {}
main .bg4 section p:last-child img {}
/* ----------------------------------- 5. 빙하감소 ----------------------------------- */
main .bg5 {background-image:url(../images/bg_5.jpg) ;}
main .bg5 section {padding: 76px 0 140px; text-align: center;}
main .bg5 section .sub_title {color: #050505;}
main .bg5 section .sub_title+p {
    font-size: 1.625rem; line-height: 1.2; color: #050505;
    margin: 30px 0 92px;;
}
main .bg5 section .container {
    display: flex;
}
main .bg5 section .container li {
    flex:1; margin-right: 45px;
    text-align: center;
}
main .bg5 section .container li:last-child {margin-right: 0;}
main .bg5 section .container li .box_img {
    background-image:url(../images/box_img1.jpg);
    height: 320px; padding: 47px;
}
main .bg5 section .container li:nth-of-type(2) .box_img {background-image:url(../images/box_img2.jpg);}
main .bg5 section .container li:last-of-type .box_img {background-image:url(../images/box_img3.jpg) ;}
main .bg5 section .container li .box_img h3 {
    font-size: 2.625rem; font-weight: 700;
    line-height: 1.2; color: #FFF;
    margin-bottom: 10px;
}
main .bg5 section .container li .box_img p {
    font-size: 1.625rem; line-height: 1.2; color: #FFF;
}
main .bg5 section .container li .contents {
    background-color: #FFF;
    font-size: 1.25rem; line-height: 1.7;
    height: 250px;
    padding: 20px 37px 0;
}
/* ----------------------------------- 6. 지구 전체의 위기 ----------------------------------- */
main .bg6 {background-image:url(../images/bg_6.jpg);}
main .bg6 section {}
main .bg6 section .sub_title {}
main .bg6 section .sub_title em {}
main .bg6 section .sub_title+p {}
main .bg6 section p:last-child {}
main .bg6 section p:last-child img {}
/* ----------------------------------- 4,5,6 그룹 선택자 ----------------------------------- */
main .bg4 section,
main .bg5 section,
main .bg6 section {padding: 94px 0 100px;}
main .bg4 section .sub_title,
main .bg6 section .sub_title {}
main .bg4 section .sub_title em,
main .bg6 section .sub_title em {
    background-color: #FFF; color: #2E3148;
    display: inline-block;
    font-weight: 500; padding: 10px 0;
}
main .bg4 section .sub_title+p,
main .bg6 section .sub_title+p {
    font-size:2.125rem; font-weight: 500; line-height: 1.2;
    color:#FFF; margin: 50px 0;
}
main .bg4 section p:last-child,
main .bg6 section p:last-child {}
main .bg4 section p:last-child img,
main .bg6 section p:last-child img {}
/* ----------------------------------- 7. 믿을 수 있는 WWF ----------------------------------- */
main .bg7 {background-image:url(../images/bg_7.jpg);}
main .bg7 section {padding: 94px 0 80px; text-align: center;}
main .bg7 section h1 {
    font-size: 4.375rem; line-height: 1.2;
    letter-spacing: -0.2px; font-weight: 700;
}
main .bg7 section p {
    font-size: 2.125rem; line-height: 1.2;
    margin: 74px 0;
}
main .bg7 section p:last-child {margin: 0;}
/* ----------------------------------- 8. WWF 다양한 활동 ----------------------------------- */
main .bg8 {background-image:url(../images/bg_8.jpg);}
main .bg8 section {padding: 94px 0 100px;}
main .bg8 section .sub_title {
    text-align: center; color: #000;
    margin: 0 0 50px;
}
main .bg8 section .container {
    display: flex;
    justify-content: space-between;
}
main .bg8 section .container > * {
    width: calc((100% - 30px) / 2); 
}
main .bg8 section .container .left {/* flex: 1; */}
main .bg8 section .container .left li {
    height: 235px; background-color: tomato;
    background-image: url(../images/wwf_img1.jpg);
}
main .bg8 section .container .left li:last-child {
    background-image: url(../images/wwf_img2.jpg);
    margin: 30px 0 0;
}
main .bg8 section .container .right {
    background-image: url(../images/wwf_img3.jpg);
}
/* ====================================== bg8 공통 dl, dt, dd */
main .bg8 section .container .left li,
main .bg8 section .container .right {position: relative;}
main .bg8 section .container /* 중간부모 생략 */ dl {
    background-color: rgba(5, 5, 5, .7); 
    position: absolute; left: 0; bottom: 25px;
    width: 100%;
    padding: 20px;
    /* absolute 설정 요소는 블록 요소여도 inline-block처럼 내용 크기 만큼만 인식함 */
    /* absolute 설정 요소의 기본 너비 100%를 유지하고 싶다면 absolute는 inline-block처럼 너비를 내용만큼만 인식하니까 반드시 width:100%를 추가로 입력해서 적용해야 함 */
}
main .bg8 section .container dl * {color: #fff; }
main .bg8 section .container dl dt {
    font-size: 1.625rem; font-weight: 700;
    margin-bottom: 8px;
}
main .bg8 section .container dl dd {font-size: 1.25rem; letter-spacing: -.2px;}