/* -------------스크롤바------------- */
html {scrollbar-width: 10px;; scrollbar-color: #D9D9D9 rgba(255, 75, 75,0);}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #D9D9D9;border-radius: 10px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* ::webkit- 크롬, 사파리, 엣지 브라우저 동작용 (브라우저 엔진) */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #D9D9D9;border-radius: 10px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
/* -------------e:스크롤바------------- */
body,html {background-color: #F5F5F5;}
main {
    font-family: 'Noto Sans KR',sans-serif;
    width: 1024px;
    margin: 0 auto;
}
main h1 {text-align: center; margin: 100px 0 41px;}

/* 회원가입 약관 */
main .law {
    background-color: #FFF; margin:0 auto 54px;
    padding: 10px 0 0 10px;
    width: 612px; height: 200px; border-radius: 10px;
    font-size: 0.75rem;
    overflow-y: auto; overflow-x: hidden;
}
main .law > * {width: 582px; line-height: 19px;}

main .law h2 {margin-bottom: 48px;}
main .law h3 {}
main .law p {margin-bottom: 24px;}

/* 회원가입 양식 */
main #joinFrm {
    width: 612px;
    margin: 0 auto;
    letter-spacing: -0.2px; font-size: 0.75rem;
}
main #joinFrm .userInfo {}
main #joinFrm .userInfo dl {}
main #joinFrm .userInfo dl dt {
    width: 156px; float: left;
    line-height: 23px; margin-top: 8.5px; text-align: left;
} /* 제목 공통 */
main #joinFrm .userInfo dl dt span {color: #FF0000;} /* 필수표시 */
main #joinFrm .userInfo dl dd {
    width: 300px; height: 40px; /* 내용이 없는 것도 높이를 고정시킴 */
    margin-bottom: 10px; float: left;
} /* 내용 공통 */
main #joinFrm .userInfo dl dd:nth-child(3n) {
    width:156px; float:right;
    text-align: right;
} /* 내용(버튼위치, 빈칸) 공통 */
/* 아이디, 비밀번호, 비밀번호 확인, 이름, 이메일, 휴대폰 입력 input 공통 선택자 */
main #joinFrm .userInfo dl dd input[name^=user] {
    width: 100%; height: 100%;
    border: 1px solid #AAA;
    border-radius: 5px; padding-left: 10px;
}
/* 중복확인(아이디, 이메일), 인증번호 받기 공통 선택자 */
main #joinFrm .userInfo dl dd button[id$=Btn] {
    background-color: #9E00B7;
    width: 120px; height: 100%;
    letter-spacing: -0.2px; font-size: 0.75rem;
    border-radius: 5px; color: #FFF;
    border: none;
}
main #joinFrm .userInfo dl dd select[name*=Carrier] {
    appearance: none; /* select의 기본 화살표를 없앰 */
    background-image:url(../images/arrow_drop_down.svg);
    background-repeat: no-repeat;
    background-position: 30px 14px;
    border-radius: 5px; border: 1px solid #AAA;
    padding-left: 10px;
    width: 50px; height:100%;
}
main #joinFrm .userInfo dl dd select[name^=Carrier] option {}
main #joinFrm .userInfo dl dd input[name$=Phone] {width: 245px;}
main #joinFrm .userInfo dl dd #authenticationBtn {
    background-color: #CCC; color: #FFF;
} /* 인증번호 받기 색상 */
main #joinFrm .userInfo dl dt:nth-of-type(7) + dd,
main #joinFrm .userInfo dl dt:nth-of-type(7) + dd + dd  {height: 68px;}
main #joinFrm .userInfo dl dd #btnAddressSearch {
    background-color: #FFF;
    border: 1px solid #9E00B7;
    width: 100%; height: 43px; border-radius: 5px;
}
main #joinFrm .userInfo dl dd #btnAddressSearch + span {
    color: #AAA; display: block; margin-top: 5px;
}
/* 성별 */
main #joinFrm .userInfo dl dt:nth-of-type(8) + dd {text-align: center;}
main #joinFrm .userInfo dl dd input[name=gender] {display: none;} /* 공통 */
main #joinFrm .userInfo dl dd input[name=gender]:checked+label {
    background-image:url(../images/gender_check.svg);
    background-repeat:no-repeat;
    padding-left: 21px;
} /* 선택 공통 */
main #joinFrm .userInfo dl dd label {
    background-image:url(../images/gender_uncheck.svg);
    background-repeat:no-repeat; background-position: 0 2px;
    padding-left: 21px; line-height: 40px;
    margin-left: 15px; margin-right: 15px;
} /* 공통 */
/* 생년월일 */
main #joinFrm .userInfo dl dd input[name^=birth] {
    border: none; width: 59px; height: 100%;
    text-align: center;
}
main #joinFrm .userInfo dl dt:last-of-type + dd {
    background-color: #FFF; border: 1px solid #9E00B7;
    text-align: center;
} /* 생년월일 dd만 별도 선택자 추가 */
/* number 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
/* Firefox */
input {-moz-appearance: textfield;}
main #joinFrm .userInfo dl dd input[name^=birth] + span {} /* 구분선 */
main #joinFrm .userInfo .result {
    margin: 0 auto; text-align: center;
}
main #joinFrm .userInfo .result #joinBtn {
    width: 200px; height: 40px;
    background-color: #9E00B7; color: #FFF;
    border: none; border-radius: 10px;
}